<nav>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
  <a routerLink="/advice" routerLinkActive="active" ariaCurrentWhenActive="page">Advice</a>
  <a *ngIf="!isLoggedIn()" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a>
  <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
  <a *ngIf="isLoggedIn()" (click)="logout()" class="logout-button">Logout ({{remainingTime}})</a>
</nav>

<router-outlet></router-outlet>